:root {
    --font-family-portal: 'Mulish', sans-serif;
    --bg-form-color: white;
    --bg-login-button: #595F6D;
    --buttons-standar-color: #31465b;
    --buttons-hover-standar-color: #415f7d;
    --color-font-primary: #31465B;
    --color-orange-portal: #E16944;
    --color-yellow-portal: #F1BA67
}




.container-portal-payment {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



.container-portal {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}